body {
    text-align: center;
    background-color:whitesmoke;
    color:cadetblue;
    font-family: sans-serif;
    position: relative;
}
footer {
    background-color: aliceblue;
    color: green;
    font-family: sans-serif;
    font-size: 30px;
}
table,td,th {
    padding: 20px;
    font-weight: 500;
    border: 50px;
    border-collapse: separate;
    text-align: left;
}
#pierwszy {
    background-color: blue;
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
}

.table_box {
    position: relative;
    width: max-content;
    margin: auto;
}

#okazja {
    position: absolute;
    z-index: -1;
    background-color: crimson;
    color: black;
    top: 60px;
    left: 10px;
}

.logo {
    max-width: 20vw;
    height: auto;
}

.city {
    display: inline;
}

.along {
    display: flex;
    justify-content: space-evenly;
}

/*---------------------------*/

@media screen and (min-width: 800px) {
.along_desktop {
    display: flex;
    justify-content: space-evenly;
}
}
@media screen and (min-width: 600px) {
    .along_tablet {
        display: flex;
        justify-content: space-evenly;
    }
    }

.middle {
    display: inline;
}

.menu {
    display: inline;
}
.right_menu {
    display: inline;
}

@media screen and (max-width: 600px) {
    #hide {
        display: none;
    }
}

/* ---------- */
ul:before {
    content: attr(aria-label);
    color: black;
    font-size: auto;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: blue;
}

#canceled {
    background-color: crimson;
    color: black;
}

#delayed {
    background-color: yellow;
    color: black;
}

#late {
    background-color: orange;
    color: black;
}
